/*!
=====================================================
               =   Page Banner   =
=====================================================
*/

.page-banner {
  padding: 95px 0;
  background-image: url('../img/banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  .banner-text {
    color: $white;
    text-align: center;
    h1 {
      margin-bottom: 10px;
      font-size: 50px;
      font-weight: $fw-600;
    }
    h4 {
      padding: 0 150px;
      margin-bottom: 0;
      line-height: 1.5;
      font-size: 20px;
      font-weight: $fw-300;
    }
  }
}
