/*!
=====================================================
               =   Media Queries  =
=====================================================
*/

/*! Large Devices, Wide Screens */

@media only screen and (max-width: 1100px) {
  .reviews {
    .partners-table {
      .partners-table--item {
        .partner-info {
          max-width: 460px;
          max-height: unset;
        }
      }
    }
  }
}

/*! Medium Devices, Desktops */

@media only screen and (max-width: 892px) {
  .no-paddings {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  .navbar {
    padding: 0 30px;
  }
  .filter-by {
    text-align: center;
  }
  .index {
    margin-right: 0;
    .sticky-sidebar-parent {
      .col-xl-9 {
        order: 1;
      }
      .col-xl-3 {
        order: 2;
        .index-aside {
          width: 100%;
          margin: 0 auto;
        }
      }
    }
    .partners-table {
      .partners-table--item {
        flex-direction: column;
        .partner-info {
          margin-bottom: 1em;
        }
        .partner-deposit-options {
          max-width: unset;
          margin: 1em 0;
          img:first-child {
            margin-bottom: unset;
          }
        }
      }
    }
  }
  .reviews {
    .partners-table {
      .partners-table--item {
        flex-direction: column;
        .partner-logo {
          margin: 1em 0;
        }
        .partner-info {
          margin: 1em 0;
          text-align: center;
          .read-more {
            display: block;
            text-align: center;
            margin: 1em;
          }
        }
      }
    }
  }
  .footer {
    .navbar {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .navbar-logo {
        .copyright {
          margin-bottom: 1em;
        }
      }
      .navbar-nav {
        .footer-nav-item {
          display: block;
          text-align: center;
          margin-right: 0;
        }
      }
    }
  }
  .review {
    .aside-partner-table {
      margin: 20px 0;
    }
  }
  .review,
  .article-inner {
    margin: 20px 0 0;
  }
  .aside-partner-table
    .partners-table
    .table-row
    .partner-links
    .partner-button {
    margin: 23px 10px 7px;
  }
  .aside-partner-table {
    min-width: unset;
  }
  .aside-partner-table
    .partners-table
    .table-row
    .partner-links
    .partner-button
    .btn {
    padding: 8px 10px;
  }
  .aside-partner-table .partner-item .partner-logo {
    margin: 1em 0;
  }
  .aside-partner-table .partner-item ul,
  .aside-partner-table .partner-item .partner-link {
    display: none;
  }
  .aside-partner-table {
    margin: 20px 0;
  }
}

/*! Small Devices, Tablets */

@media only screen and (max-width: 768px) {
  .page-banner {
    padding: 50px 0;
    h1,
    h4 {
      padding: 0 30px;
    }
  }
  .articles-grid {
    padding: 0 30px;
  }
}

/*! Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
}

/*! Custom, iPhone Retina */

@media only screen and (max-width: 320px) {
}

@media only screen and (min-width: 1100px) {
  .articles-grid[data-columns]::before {
    content: '3 .column.column--1of3';
  }
}

@media only screen and (max-width: 1099.9px) and (min-width: 768px) {
  .articles-grid[data-columns]::before {
    content: '2 .column.column--1of2';
  }
}

@media only screen and (max-width: 767.9px) {
  .articles-grid[data-columns]::before {
    content: '1 .column.column--1of1';
  }
}
