@import 'helpers/helpers';

/*!
=====================================================
               =   Media Queries  =
=====================================================
*/

/*! Large Devices, Wide Screens */
@media only screen and (max-width: 1100px) {
  .filter-by {
    text-align: center;
  }
  .index {
    .index-main-side,
    .index-aside {
      width: 100%;
    }
    .index-aside {
      margin-left: unset;
    }
  }
  .review-article-content,
  .sticky-sidebar {
    width: 100%;
  }
  .review-inner,
  .article-inner {
    .aside-partner-table {
      width: 100%;
      margin-top: 10px;
      margin-left: unset;
      .partner-item ul {
        list-style: none;
      }
      .partners-table h4 {
        text-align: center;
      }
    }
  }
  .reviews {
    .partners-table {
      .partners-table--item {
        .partner-info {
          max-width: 450px;
          max-height: unset;
        }
      }
    }
  }
}

/*! Medium Devices, Desktops */
@media only screen and (max-width: 892px) {
  .header {
    .navbar {
      .navbar-nav {
        display: none;
      }
    }
  }
  .reviews {
    .partners-table {
      .partners-table--item {
        flex-direction: column;
        .partner-info {
          margin: 2em 0;
          text-align: center;
          a {
            display: block;
            text-align: center !important;
          }
        }
      }
    }
  }
}

/*! Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .header,
  .footer,
  .index,
  .articles,
  .review-inner,
  .article-inner,
  .reviews,
  .info-pages,
  .comparison {
    padding: 0 30px;
  }
  .index {
    .partners-table {
      .partners-table--item {
        flex-direction: column;
        .partner-info {
          margin-bottom: 1em;
        }
        .partner-deposit-options {
          max-width: unset;
          margin: 1em 0;
          img:first-child {
            margin-bottom: unset;
          }
        }
      }
    }
  }

  .footer {
    .navbar {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .navbar-logo {
        .copyright {
          margin-bottom: 1em;
        }
      }
      .navbar-nav {
        .footer-nav-item {
          display: block;
          text-align: center;
          margin-right: 0;
        }
      }
    }
  }

  .page-banner {
    padding: 50px 0;
    h1,
    h4 {
      padding: 0 30px;
    }
  }

  .review-inner {
    .aside-partner-table {
      .partner-item {
        display: none;
      }
    }
  }

  .item-review-mobile {
    display: block;
  }
}

/*! Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .articles .articles-grid .article-item .article-details {
    margin: 1em 0;
    flex-direction: column;
  }
  .mobile .navbar-brand .nav-logo img {
    width: 30vw;
  }
  .mobile .navbar-brand {
    padding: 35px;
  }
}

/*! Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
}
