// @import 'libs';
@import 'helpers/grid';
@import 'global';

/*!
=====================================================
                 =   MainCSS   =
=====================================================
*/

//  Partials
@import 'partials/header';
@import 'partials/banner';
@import 'partials/footer';
//  Pages
@import 'pages/index';
@import 'pages/others';
//  Media
@import 'responsive';

.sticky-sidebar-parent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  align-content: flex-start;
}

/*!
=====================================================
          =   Review & Article Content   =
=====================================================
*/

.review-article-content {
  width: 620px;
  padding: 35px 25px;
  background-color: $white;
  text-align: justify;
  font-size: $ftz-normal;
  color: #3b4561;
  h1 {
    font-size: 26px;
    font-weight: $fw-700;
    margin-bottom: 1em;
  }
  p {
    margin-bottom: 1em;
  }
}
