<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="navbar">
                    <div class="navbar-logo">
                        <a class="footer-nav-logo" href="">
                            <img src="img/logo.svg" alt="">
                        </a>
                        <span class="copyright">Copyright © All Rights Reserved</span>
                    </div>
                    <ul class="navbar-nav">
                        <li class="footer-nav-item"><a class="footer-nav-link" href="page.html">Contact Us</a></li>
                        <li class="footer-nav-item"><a class="footer-nav-link" href="page.html">About Us</a></li>
                        <li class="footer-nav-item"><a class="footer-nav-link" href="page.html">Terms & Conditions</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>
<!-- /Footer -->